.chat-main__message-list__messagebox{data: {message: {id: '1'}}}
  .chat-main__message-list__messagebox__messageinfo
    .chat-main__message-list__messagebox__messageinfo__username
      = message.user.name
    .chat-main__message-list__messagebox__messageinfo__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__messagebox__message
    - if message.content.present?
      %p.chat-main__message-list__messagebox__message__contents
        = message.content
    = image_tag message.image.url, class: 'message__image' if message.image.present?